html { 
    background-color: lightslategray;
    font-family: sans-serif;
} 
body { 
    margin:auto; 
    max-width: 600px;
    height: 600px;
    background-color: azure;
}
h1 { 
    color: purple;
    text-align: center;
}
div {
    border-width: 1px;
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
}
#billy {
    color: darkred;
}
.two {
        font-size: larger;
    }
.three {
        font-size:  smaller;
    }
#bob {
    color: darkgreen;
}
#bob a {
    text-decoration: line-through;
}
#bob > .two a {
    text-decoration: overline underline;
    color: orange;
}


