@charset "UTF-8";

body {
  margin: auto;
  max-width: 860px;
  font-size: 100%;
} 
h1 {
  font-style: italic; 
  font-family:COMIC SANS MS; 
  text-align: center;
} 
.mainmenu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d9d0a;
  position: relative;
  top: 25%;
  width: 33%;  
}
.mainmenu li {
  float: left;
} 
li {
  display: inline;
}
.mainmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.mainmenu a:hover {
  background-color: #187f08;
}

.menu-center {
  display: flex;
  gap: 30px;
}
.menu-item {
  color: rgb(10, 9, 9);
  text-decoration: none;
  font-weight: bold;
}
.textformat > h2 {
  text-align: left;
  font-family:COMIC SANS MS; 
} 
img {
  width: 100%;
  height: auto;
}

ol {
  font-style:italic; 
  font-size: 1.4em;
} 
.container {
display: grid;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
width: 100%;
text-align: left;
} 
h2 {
font-size: 1.5em;
} 
p { 
  font-size: 1.3em;
} 
#varor li {
  float: left;
} 
.varor {
  width: 30%;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  font-family: Papyrus;  
  list-style-type: none;
  margin: 0;
  padding: 3%;
  overflow: hidden;
  position: relative;
  
}
#varor img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#searchInput {
margin-left: 80%;
margin-top: 2%;
}